NETWORK_ID=testnet-02
INDEXER_HTTP=https://indexer.testnet-02.midnight.network/api/v1/graphql
INDEXER_WS=wss://indexer.testnet-02.midnight.network/api/v1/graphql/ws
PROOF_SERVER=https://lace-dev.proof-pub.stg.midnight.tools
NODE_URL=https://rpc.testnet-02.midnight.network
