name: CI

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  ALLURE_ADMIN_USER: ${{ secrets.ALLURE_ADMIN_USER }}
  ALLURE_ADMIN_PASSWORD: ${{ secrets.ALLURE_ADMIN_PASSWORD }}
  NETWORK: undeployed
  DEPLOYMENT: local
  APP_INFRA_SECRET: ${{ secrets.APP_INFRA_SECRET }}

on:
  workflow_dispatch:
  pull_request:
    branches: ['**']
  push:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run dist
        run: bun run dist

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-${{ github.run_attempt }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v4
        if: always()
        with:
          name: build-artifacts-${{ github.run_id }}
          path: |
            packages/*/dist/**
            packages/*/tsconfig.*.tsbuildinfo

  general-checks:
    name: General Checks
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Restore turbo cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-artifacts-${{ github.run_id }}
          path: .

      - name: Run typecheck
        run: bun run typecheck

      - name: Run format check
        run: bun run format:check

      - name: Run linter
        run: bun run lint

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}

  tests:
    name: Tests
    needs: [general-checks]
    runs-on: ubuntu-latest-16-core-x64
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Restore turbo cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-general-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-artifacts-${{ github.run_id }}
          path: .

      - name: Run tests
        run: bun run test

  build-publish:
    name: Build for Publishing
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run dist:publish
        run: bun run dist:publish

      - name: Save turbo cache
        if: always()
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-${{ github.run_attempt }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 #v4
        if: always()
        with:
          name: build-publish-artifacts-${{ github.run_id }}
          path: |
            packages/*/dist/**
            packages/*/tsconfig.*.tsbuildinfo

  publish-checks:
    name: Publish Checks
    needs: [build-publish]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Restore turbo cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
        with:
          path: .turbo
          key: turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-${{ github.run_attempt }}
          restore-keys: |
            turbo-${{ runner.os }}-${{ github.sha }}-${{ github.run_id }}-build-publish-

      - name: Download build artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v4
        with:
          name: build-publish-artifacts-${{ github.run_id }}
          path: .
        continue-on-error: true

      - name: Run publint
        run: bun run publint
