name: Fund test wallets

env:
  MIDNIGHT_GH_USER: ${{ secrets.GH_USERNAME }}
  MIDNIGHT_GH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_READ }}
  SEED_STABLE: ${{ secrets.E2E_TESTS_SEED_STABLE }}
  FAUCET_SEED_HALO2: ${{ secrets.FAUCET_SEED_HALO2 }}
  FAUCET_SEED_TESTNET: ${{ secrets.FAUCET_SEED_TESTNET }}

on:
  workflow_dispatch:
    inputs:
      network:
        type: choice
        description: Midnight network to use
        required: true
        default: 'devnet'
        options:
          - devnet
          - testnet

permissions: {}

jobs:
  runScript:
    name: Run funding script
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Check tool versions
        run: |
          bun --version

      - name: Log in to GitHub Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: 'https://ghcr.io'
          username: ${{ env.MIDNIGHT_GH_USER }}
          password: ${{ env.MIDNIGHT_GH_TOKEN }}

      - name: Run funding script for devnet envs
        if: env.NETWORK == 'devnet'
        env:
          NETWORK: ${{ inputs.network }}
          DEPLOYMENT: ${{ inputs.deployment }}
          SEED: ${{ env.FAUCET_SEED_HALO2 }}
          SEED_STABLE: ${{ env.SEED_STABLE }}
        run: |
          bun install --frozen-lockfile
          bunx turbo test-e2e -- packages/e2e-tests/src/tests/fundTestWallets.test.ts

      - name: Run funding script for testnet envs
        if: env.NETWORK == 'testnet'
        env:
          NETWORK: ${{ inputs.network }}
          DEPLOYMENT: ${{ inputs.deployment }}
          SEED: ${{ env.FAUCET_SEED_TESTNET }}
          SEED_STABLE: ${{ env.SEED_STABLE }}
          ADDRESSES: ${{ vars.TESTNET_ADDRESSES }}
        run: |
          bun install --frozen-lockfile
          bunx turbo test-e2e -- packages/e2e-tests/src/tests/fundTestWallets.test.ts
